body {
    margin: 0;
    margin-top: 00px;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    line-height: 100px;
    background-color: #4A4E69;
    border-top: 10px solid #4A4E69;
    border-right: 20px solid #4A4E69;
    border-bottom: 10px solid #4A4E69;
    border-left: 20px solid #4A4E69;
}
